.collapsible {
  background-color: #f1f1f1;
  color: black;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: 0px;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #f1f1f1;
}

.collapsible:after {
  content: '\002B';
  color: #f1f1f1;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 1px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
}
