#more {display: none;}

#more_1 {display: none;}

#more_2 {display: none;}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 6px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100px;
  font-family: Times;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button4 {
  background-color: white;
  color: black;
  border: 1px solid #e7e7e7;
}

.button4:hover {background-color: #e7e7e7;}